body {
	background: url('/static/img/3.jpg') center center fixed;
	background-repeat: no-repeat;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: left bottom;
}


/*#fullscreen {*/
   /*background-size: cover;*/
   /*position: fixed;*/
   /*top: 0;*/
   /*right: 0;*/
   /*bottom: 0;*/
   /*left: 0;*/
   /*overflow: hidden;*/

/*}*/


.navbar-fixed-bottom {
	color: white;
    width: 100%;
    height: 10px;
    background-color: #cc0000;
	padding: 1rem;
}

#one {
    margin-top: 100px;
	border-width: 2px;
	background-color: white;
	filter:alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.05);
    opacity:.90;
    z-index: -1;
	border-color: lightgrey;
	border-style: solid;
}


.footer {
	color: white;
    width: 100%;
    height: 10px;
    background-color: #cc0000;
    margin: 0 auto;
    position: absolute;
	right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
	margin: 0 0 0 -32px;
	text-align: center;
}

