<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Log</title>
    <link rel="stylesheet" href="/static/css/admin_login.css">
</head>

<body>
    <h1 style="font-family:helvetica;">Log in</h1>
    <p style="font-family:helvetica;"><strong>User name</strong></p>
    <p>{{form.username(style="width: 400px",required="true")}}</p>
    <p style="font-family:helvetica;"><strong>Password</strong></p>
    <p>{{form.password(style="width: 400px",required="true")}}</p>
    <p>{{form.submit(class_="myButton")}}</p>
</body>
</html>
