<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/admin_login.css">


    <title>Home</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top navbar-inverse">
              <div class="container-fluid">
                  <div class="nav navbar-nav navbar-right" style="padding-right: 20px">
                  <a href="{{ url_for('home') }}">{{ text|safe }}
                      <button name="log_out" class="btn btn-primary navbar-btn">Home
                      </button>
                  </a>
                  </div>
              </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
      <div class="col-lg-4">
          <div class="container-fluid text-left" id="one">
                <form id="form" action= "{{ url_for('login') }}" method="post">

                {% if error!=None %}
                    <h4><span class="label label-warning">{{ error }}</span></h4>
                {% endif %}

                <h1>Log in</h1>
                <p>User name</p>
                <div class="form-group">
                {{form.username(required="true", class="form-control")}}
                <p>Password</p>
                {{form.password(class="form-control", required="true")}}<br>
                {{form.submit(class_="btn btn-primary navbar-btn")}}
                </div>
                </form>
          </div>
      </div>
      <div class="col-lg-4"></div>
    </div>


<footer>
    <div class="container-fluid text-center">
        <div class="navbar navbar-fixed-bottom">© Codecool | Starfish 2016</div>
    </div>
</footer>

</body>
</html>
