<!doctype html>

<html>
    <head>

        <title>Applicant</title>
        <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/registration_style.css">

    </head>


    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="nav navbar-right" style="padding-right: 20px">
                    <a href="{{ url_for('home') }}">{{ text|safe }}<button name="one" class="btn btn-primary navbar-btn">Home</button></a>
                </div>
            </div>
        </nav>

<div class="row">
    <div class="col-lg-4"></div>
     <div class="col-lg-4">
        <div class="container-fluid text-left" id="one">
                <form id="form" action= "{{ url_for('submit_applicant') }}" method="post">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h5><span class="label label-warning">{{ message }}</span></h5>
                        {% endfor %}
                    {% endif %}
                 {% endwith %}
                    <h1>Application Form</h1>
                    <div class="form-group">
                    <p>First name</p>
                    {{form.first_name(required="true", placeholder="Enter here your first name",class="form-control")}}
                    <p>Last name</p>
                    {{form.last_name(required="true", placeholder="Enter here your last name",class="form-control")}}
                    <p>City</p>
                    {{form.city(required="true", placeholder="Enter here the city where you are living",class="form-control")}}
                    <p>Email</p>
                    {{form.email(required="true", placeholder="Your e-mail address",class="form-control")}}<br>
                    {{form.submit(class_= "btn btn-primary navbar-btn")}}
                    </div>
                </form>
            </div>
        </div>
    <div class="col-lg-4"></div>
</div>

    <footer>
    <div class="container text-center">
        <div class="navbar-fixed-bottom">© Codecool | Starfish 2016</div>
    </div>
    </footer>

    </body>

</html>
