<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/admin_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% extends "admin.html" %}
    {% block body %}
    <div class="container-fluid">
    <table class="table table-bordered table-striped table-hover">
        <form id="form" action= "{{ url_for('list_applicants') }}" method="post">
        <tr>
            <td>{{form.applicant_app_code(placeholder="App Code")}}</td>
            <td>{{form.applicant_first_name(placeholder="First Name")}} {{form.applicant_last_name(placeholder="Last Name")}}</td>
            <td>{{form.applicant_email(placeholder="Email")}}</td>
            <td>{{form.applicant_city(placeholder="City")}}</td>
            <td>{{form.applicant_school(placeholder="School")}}</td>
            <td>{{form.applicant_interview(placeholder="Interview Time")}}</td>
            <td>{{form.submit(class="btn btn-primary navbar-btn", value="Filter")}}</td>
        </tr>
        </form>
        <thead>
        <tr>
            {% for title in titles %}
            <th>{{title}}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for entry in entries %}
        <tr>
            {% for column in entry[1:5] %}
                <td>{{column}}</td>
            {% endfor %}
                {% for i in range(5, 7) %}
                    {% if i == 5 %}
                        <td>
                            {% if entry[i] == "Not yet set" %}
                            <form action="{{ url_for('add_school', id=entry[0])}}" method="post">
                                <button name="add_school" class="btn btn-primary navbar-btn btn-block btn-xs" data-toggle="tooltip"
                                        title="assign a school to the applicant">Add school
                                </button>
                            </form>
                            {% else %}
                                {{entry[i]}}
                            {% endif %}
                        </td>
                    {% else %}
                        <td>
                                {% if entry[i] == "Not yet set" %}
                                <form action="{{ url_for('add_interview', id=entry[0])}}" method="post">
                                    <button name="add_interview" class="btn btn-primary navbar-btn btn-block btn-xs" data-toggle="tooltip"
                                            title="assign an interview to the applicant">Add interview
                                    </button>
                                </form>
                                {% else %}
                                    {{entry[i]}}
                                {% endif %}
                         </td>
                    {% endif %}
                {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endblock %}
</body>

</html>
