<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}]</title>
</head>

{% extends "admin.html" %}
{% block body %}

<table border=3>
    <form id="form" action= "{{ url_for('list_applicants') }}" method="post">
    <tr>
        <td>{{form.applicant_app_code(placeholder="App Code")}}</td>
        <td>{{form.applicant_first_name(placeholder="First Name")}} {{form.applicant_last_name(placeholder="Last Name")}}</td>
        <td>{{form.applicant_email(placeholder="Email")}}</td>
        <td>{{form.applicant_city(placeholder="City")}}</td>
        <td>{{form.applicant_school(placeholder="School")}}</td>
        <td>{{form.submit(value="Search")}}</td>
    </tr>
    <tr>
        {% for title in titles %}
        <td>{{title}}</td>
        {% endfor %}
    </tr>
    {% for entry in entries %}
    <tr>
        {% for column in entry %}
            <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}

</html>
