<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Log</title>
</head>

<body>

<table border=3>
    <tr>
        <td>Recipient's name</td>
        <td>Recipient's email</td>
        <td>Email Subject</td>
        <td>Email Content</td>
        <td>Email Type</td>
        <td>Time</td>
        <td>Status</td>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{entry['recipient_name']}}</td>
        <td>{{entry['recipient_email']}}</td>
        <td>{{entry['subject']}}</td>
        <td>{{entry['content']}}</td>
        <td>{{entry['mode']}}</td>
        <td>{{entry['time']}}</td>
        <td>{{entry['status']}}</td>
    </tr>
    {% endfor %}
</table>

</body>>

</html>
