<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}]</title>
</head>

{% extends "admin.html" %}
{% block body %}
<div class="container-fluid">
<br>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>

        {% for title in titles %}
        <th>{{title}}</th>
        {% endfor %}


    </tr>
    </thead>
    {% for entry in entries %}
    <tr>
        {% for column in entry %}
            <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

</html>
